appdirs==1.4.4
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
distlib==0.3.1
Django==2.0.1
django-crispy-forms==1.7.0
djangorestframework==3.11.0
filelock==3.0.12
idna==2.10
kiwisolver==1.2.0
pycryptodome==3.9.7
pypandoc==1.5
pyparsing==2.4.7
python-dateutil==2.8.1
python-magic==0.4.18
pytz==2017.3
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.2
PyMySQL==0.10.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
style==1.1.0
update==0.0.1
urllib3==1.25.11
virtualenv==20.2.2
Wand==0.6.1
webencodings==0.5.1
